{% extends "base.html" %}
{% load humanize %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">📦 Listado de Paletas</h2>
        <a href="{% url 'agregar_paleta' %}" class="btn btn-success">
            ➕ Agregar Nueva Paleta
        </a>
    </div>
    
    <div class="table-responsive">
        <table class="table table-hover table-striped align-middle shadow-sm">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Tipo</th>
                    <th># Baterías</th>
                    <th>Bruto LB</th>
                    <th>Bruto KG</th>
                    <th>KG Prom. UND</th>
                    <th>Neto LB</th>
                    <th>Neto KG</th>
                    <th>Creación</th>
                    <th>Usuario</th>
                    <th>Localidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for paleta in paletas %}
                <tr>
                    <td>{{ paleta.id }}</td>
                    <td>{{ paleta.codigo_barra }}</td>
                    <td>{{ paleta.get_tipo_bateria_display }}</td>
                    <td>{{ paleta.cantidad_baterias }}</td>
                    <td>{{ paleta.peso_bruto_lb|floatformat:2|intcomma}}</td>
                    <td>{{ paleta.peso_bruto_kg|floatformat:2|intcomma }}</td>
                    <td>{{ paleta.peso_promedio_kg|floatformat:2|intcomma }}</td>
                    <td>{{ paleta.peso_neto_lb|floatformat:2|intcomma }}</td>
                    <td>{{ paleta.peso_neto_kg|floatformat:2|intcomma }}</td>
                    <td>{{ paleta.fecha_creacion|date:"Y-m-d" }}</td>
                    <td>{{ paleta.usuario_creador }}</td>
                    <td>{{ paleta.localidad}}</td>
                    <td>
                        <a href="{% url 'imprimir_etiqueta' paleta_id=paleta.id %}" class="btn btn-outline-success btn-sm">🖨️ Imprimir</a>
                        <a href="{% url 'editar_paleta' paleta.id %}" class="btn btn-outline-primary btn-sm">✏️ Editar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="11" class="text-center text-muted">No hay paletas registradas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form method="get" class="my-4 d-flex justify-content-end align-items-center gap-2">
        <label for="cantidad" class="form-label m-0">Mostrar:</label>
        <select name="cantidad" id="cantidad" class="form-select w-auto" onchange="this.form.submit()">
            <option value="15" {% if cantidad == 15 %}selected{% endif %}>15</option>
            <option value="30" {% if cantidad == 30 %}selected{% endif %}>30</option>
            <option value="50" {% if cantidad == 50 %}selected{% endif %}>50</option>
            <option value="100" {% if cantidad == 100 %}selected{% endif %}>100</option>
        </select>
        <span class="ms-2">registros por página.</span>
    </form>
 
    <nav class="mb-4">
        <ul class="pagination justify-content-center">
            {% if paletas.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1&cantidad={{ cantidad }}">« Primera</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ paletas.previous_page_number }}&cantidad={{ cantidad }}">‹ Anterior</a>
                </li>
            {% endif %}

            {% for num in paletas.paginator.page_range %}
                {% if num == paletas.number %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num >= paletas.number|add:"-2" and num <= paletas.number|add:"2" %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}&cantidad={{ cantidad }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if paletas.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ paletas.next_page_number }}&cantidad={{ cantidad }}">Siguiente ›</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ paletas.paginator.num_pages }}&cantidad={{ cantidad }}">Última »</a>
                </li>
            {% endif %}
        </ul>
    </nav>


    <div class="mt-4 d-flex flex-wrap gap-2">
        <a href="{% url 'packing_list_manual' %}" class="btn btn-outline-info">📄 Generar Packing List Manual</a>
        <a href="{% url 'lista_packing_list' %}" class="btn btn-outline-secondary">📁 Ver Lista de Packing List</a>

        {% if user.is_superuser %}
        <a href="{% url 'historial_limpieza' %}" class="btn btn-warning">
            🧹 Ver Historial de Limpieza
        </a>
        {% endif %}
    </div>
    
    <form method="post" action="{% url 'logout' %}" class="mt-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger w-auto">🔒 Cerrar sesión</button>
    </form>
</div>
{% endblock %}
