<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Exportacion{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-4">
    <header>
        <h1>Exportacion - Gestión de Paletas</h1>
        <nav>
            <a href="{% url 'home' %}" class="btn btn-info">Inicio</a>
            <a href="{% url 'lista_packing_list' %}" class="btn btn-secondary">Lista de Packing List</a>
        </nav>
        <hr>
    </header>
    {% block content %}{% endblock %}
    <footer class="mt-4">
        <p>&copy; 2025 Exportacion</p>
    </footer>
</body>
</html>
